{% extends "base.html" %}
{% block title %} Ajouter un type d'equipement{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un type d'equipement
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Type_Equipement_html">Type d'equipement</label>
					<input type ="text" class="form-control" id="Type_Equipement_html" name="Type_Equipement_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le type d'equipement
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
</title>
</head>
<body>

</body>
</html>