{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Voici mon projet de fin de première année:
			</h3>
			<p class="soustitre">
				En bref :
			</p>
              <p>
                  Le but de ce projet est de créer un site internet avec une base de données qui pourrait<br> servir à quelqu'un.<br><br>
				  Je fais mon apprentissage à l'État de Genève et j'ai été 2 mois dans un service où l'on s'occupe <br>du bon fonctionnement des serveurs de l'État.<br><br>
				  On m'a appris beaucoup de choses dans ce service et principalement les bases de données.<br>
				  Une des tâches principale était de faire un site web où l'on peut faire des demandes de serveurs.<br>
				  J'ai été aidé par un apprenti de 2e année et nous avons fait le site mais avec PHP, ce qui est différent de Python. <br><br>
				  L'utilité de ce site web est de pouvoir faire des demandes de configuration  avec toutes les spécifications<br>
				  demandées, la grandeur du serveur, la puissance électrique etc...


			  </p>
            <p>
            <br>
            Erblin Zeqiri
            </p>
		</div>
	</div>
</div>
{% endblock %}
